<ul>
    <li>
    <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
    <a href="/users">Users</a>
    </li>
    <% if signed_in %>
    <li><%= link_to "logout", logout_path, method: :delete %></li>
    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <% else %>
    <li><%= link_to "login", login_path %></li>
     <li><a href="/signup">Signup</a></li>
    <% end %>
  </ul>